<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Python SAML Toolkit by OneLogin demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
  <h1>You are logged</h1>
  {% if attributes %}
    <table class="table table-striped">
      <thead>
        <th>Name</th><th>Values</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
          <tr><td>{{ attr.0 }}</td>
          <td><ul class="list-unstyled">
            {% for val in attr.1 %}
              <li>{{ val }}</li>
            {% endfor %}
          </ul></td></tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}
  <a href="{{ url_for('login_saml',slo='') }}" class="btn btn-danger">Logout</a>

  </body>
</html>