<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Python SAML Toolkit by OneLogin demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
  <h1>You are logged</h1>
  {% if user %}
    <table class="table table-striped">
      <thead>
        <th>Name</th><th>Values</th>
      </thead>
      <tbody>
          <tr><td>uid</td>
          <td><ul class="list-unstyled">
              <li>{{ user.uid }}</li>
          </ul></td></tr>
          <tr><td>short name</td>
          <td><ul class="list-unstyled">
              <li>{{ user.short_name }}</li>
          </ul></td></tr>
          <tr><td>full name</td>
          <td><ul class="list-unstyled">
              <li>{{ user.full_name }}</li>
          </ul></td></tr>
          <tr><td>Password</td>
          <td><ul class="list-unstyled">
              <li>{{ user.password }}</li>
          </ul></td></tr>
          <tr><td>school</td>
          <td><ul class="list-unstyled">
              <li>{{ user.school_name }}</li>
          </ul></td></tr>
          <tr><td>email</td>
          <td><ul class="list-unstyled">
              <li>{{ user.email }}</li>
          </ul></td></tr>
          <tr><td>group</td>
          <td><ul class="list-unstyled">
              <li>{{ user.group }}</li>
          </ul></td></tr>
          <tr><td>employee type</td>
          <td><ul class="list-unstyled">
              <li>{{ user.employee_type }}</li>
          </ul></td></tr>
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}
  <a href="{{ url_for('login_saml',slo='') }}" class="btn btn-danger">Logout</a>

  </body>
</html>