run_tasks.sh
tasks_logs.txt
web_cache
errors.log
stdout.txt
stderr.txt
last_request.txt

# Selenium files
C:\\nppdf32Log*

# Vagrant files
.vagrant

# Test database
test_db.sqlite3

# Configuration file
config.py

# Virtual environments
env

# vim
*.swp

# SQLite
*.db

# Python code
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml


#Mr Developer
.mr.developer.cfg


# IDE folders to ignore
.idea
