import os

SAML_PATH = os.path.join(os.path.dirname(os.path.dirname(__file__)), '/labmanager/saml_auth/saml')

# Have you run... "pip install git+https://github.com/gateway4labs/rlms_weblabdeusto.git" first?
RLMS = ['weblabdeusto','unr','ilabs','phet','vish','quvis','concord','maplesoft', 'virtualbiologylab', 'vascak', 'chemcollective']


# Where will the admin error notification mails come from.
SENDER_ADDR = "G4L@no-reply.com"

# SMTP Server through which to send mails.
SMTP_SERVER = None

# List of Admins to send mails to when an error occurs.
ADMINS = []

# Use in the context of the Go-Lab project (which has partially funded this project; see http://www.go-lab-project.eu/ )
GOLAB = False

ENGINE = 'sqlite'

if ENGINE == 'mysql':
    USERNAME = 'labmanager'
    PASSWORD = 'labmanager'
    DBNAME = 'labmanager'
    HOST = 'localhost'
    SQLALCHEMY_DATABASE_URI = "mysql+pymysql://%s:%s@%s/%s" % (USERNAME, PASSWORD, HOST, DBNAME)
    SQLALCHEMY_POOL_RECYCLE = 3600
else:
    SQLALCHEMY_DATABASE_URI = "sqlite:///database.db"

#
# Flask configuration
# 

DEBUG      = True
SECRET_KEY = 'secret'
DEBUGGING_REQUESTS = False
SESSION_COOKIE_PATH = '/' # To avoid conflicts with other deployments

WEBLABDEUSTO_LABS = {

    'aquarium@Aquatic experiments' : [
        {
            'name'        : 'ball-blue',
            'description' : 'Blue ball'
        },
        {
            'name'        : 'ball-white',
            'description' : 'White ball'
        },
        {
            'name'        : 'ball-yellow',
            'description' : 'Yellow ball'
        },
        {
            'name'        : 'ball-red',
            'description' : 'Red ball'
        },
        {
            'name'        : 'camera',
            'description' : 'Main widget with two cameras'
        },
        {
            'name'        : 'camera1',
            'description' : 'Camera pointing to the aquarium'
        },
        {
            'name'        : 'camera2',
            'description' : 'Camera pointing to the pulley system'
        },
    ], # aquarium

    'incubator@Farm experiments' : [
        {
            'name'        : 'egg1',
            'description' : 'First egg',
        },
        {
            'name'        : 'egg2',
            'description' : 'Second egg',
        },
        {
            'name'        : 'egg3',
            'description' : 'Third egg',
        },
    ],
}

