#
# Flask configuration
# 

DEBUG      = True
SECRET_KEY = 'secret'
DEBUGGING_REQUESTS = False

# 
# DB Configuration
# 
USERNAME = 'labmanager'
PASSWORD = 'labmanager'
HOST     = 'localhost'
DBNAME   = 'labmanager'

ENGINE   = 'mysql' # or 'sqlite'

if ENGINE == 'mysql':
    SQLALCHEMY_ENGINE_STR = "mysql://%s:%s@%s/%s" % (USERNAME, PASSWORD, HOST, DBNAME)
    USE_PYMYSQL = True # or False, if MySQLdb is provided
else:
    SQLALCHEMY_ENGINE_STR = "sqlite:///%s.db" % DBNAME

