Flask==0.10.1
Flask-Admin==1.0.6
Flask-Login==0.2.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Flask-Babel==0.9
Babel==1.3
Flask-BabelEx==0.9.1
ims-lti-py==0.5
oauth2==1.5.211
PyMySQL==0.5
pymysql-sa==1.0
PyYAML==3.10
SQLAlchemy==0.7.10
alembic==0.7.4
requests==2.18.4
CacheControl==0.11.2
lockfile==0.10.2
Flask-Testing==0.4.1
Flask-DebugToolbar==0.10.0
WTForms==1.0.5
lxml==3.4.4
gunicorn
beautifulsoup4==4.3.2
dict2xml==1.3

git+https://github.com/gateway4labs/rlms_unr.git
git+https://github.com/gateway4labs/rlms_weblabdeusto.git
git+https://github.com/gateway4labs/rlms_ilabs.git
git+https://github.com/gateway4labs/rlms_phet.git
git+https://github.com/gateway4labs/rlms_vish.git
git+https://github.com/gateway4labs/rlms_quvis.git
git+https://github.com/gateway4labs/rlms_concord.git
git+https://github.com/gateway4labs/rlms_maplesoft.git
git+https://github.com/gateway4labs/rlms_vascak.git
git+https://github.com/gateway4labs/rlms_amrita.git
git+https://github.com/gateway4labs/rlms_virtualbiologylab.git
git+https://github.com/gateway4labs/rlms_chemcollective.git
git+https://github.com/gateway4labs/rlms_thephysicsaviary.git
git+https://github.com/gateway4labs/rlms_academo.git
