distribute==0.6.45
Flask==0.9
Flask-Admin==1.0.6
Flask-Login==0.2.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Flask-Babel==0.9
Babel==1.3
Flask-BabelEx==0.9.1
ims-lti-py==0.5
oauth2==1.5.211
PyMySQL==0.5
pymysql-sa==1.0
PyYAML==3.10
SQLAlchemy==0.7.10
alembic==0.6.4
requests==2.1.0

git+https://github.com/gateway4labs/rlms_unr.git
git+https://github.com/gateway4labs/rlms_weblabdeusto.git
git+https://github.com/gateway4labs/rlms_ilabs.git
git+https://github.com/gateway4labs/rlms_phet.git
