Flask<0.10
Flask-SQLAlchemy<1.0
Flask-WTF<0.9
SQLAlchemy<0.7.100
pymySQL
pymysql_sa
pyflakes<0.6
cherrypy<3.3
ims-lti-py<0.6
Flask-Admin<1.1
flask-login<0.2
pyyaml<4
beautifulsoup4<4.2
lettuce
git+https://github.com/lms4labs/rlms_weblabdeusto.git
git+https://github.com/lms4labs/rlms_unr.git
