
{{gettext('Hi')}} {{ data.name }} (username: {{ data.author }}),

<p>{{gettext('I know that you're an admin')}} ({{ data.admin }}) {{gettext('in the LMS')}} {{ data.lms }}, {{gettext('and that you are in the following courses:')}}</p>
<br/>
<table>
  <thead>
    <tr>
      <th>{{gettext('Course ID')}}</th>
      <th>{{gettext('Role')}}</th>
  </tr>
  </thead>
  <tbody>   
    {% for course_id in data.courses %}
    <tr>
      <td> {{ course_id }} </td>
      <td> {{ course_id.role_in_course }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<p>{{gettext('The following error messages were sent:')}}</p>
<pre>{{ data.error_msg }}</pre>
<p>{{gettext('The following good messages were sent:')}}</p>
<pre>{{ data.good_msg }}</pre>

{{gettext('Furthermore, you sent me this request:')}}
<pre>
  {{ data.request }}
</pre>

{{gettext('And I will process it!')}}

{{gettext('Original request:')}}
<pre> 
  {{ data.json }}
</pre>
