<html>
<head>
<script>
function perform() {
    if (window.XMLHttpRequest)
    {   // code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    } else {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
            document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
        }
    }
    xmlhttp.open("POST", "{{ url_for('requests')  }}", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json");
    var request = {
        "courses"      : [1,2,3],
        "request"      : "foo bar",
        "author"       : "porduna",
        "general-role" : "admin",
    };
    var strRequest = JSON.stringify(request);
    xmlhttp.send(strRequest);
}
</script>
</head>
<body>
<span onclick="javascript:perform();">Click here</span>
<div id="myDiv"></div>
</body>
</html>
