{% set title = "Home" %}
{% set current_link = "home" %}
{% extends "layout.html" %}
{% block body_container %}
        <div class="row">
            <div class="hero-unit" align="center">
                <p><img height="150" src="{{ url_for('static', filename='logo.png') }}" alt="LMS4labs Logo" /></p> 
                <p>Welcome to the Lab Manager!</p>
            </div>
        </div>
        <div class="row">

            <div class="span4">
                <h2>Graasp registration</h2>
                <p>Register your school using Graasp.</p>
                <p><a href="{{ url_for('opensocial.register') }}">Register</a></p>
            </div>

            <div class="span4">
                <h2>PLE users</h2>
                <p>PLE users will select which courses or other users are registered in a PLE.</p>
                <p><a href="{{ url_for('login_lms', next = url_for('ple_admin.index')) }}">Manage PLE internals</a></p>
            </div>

            <div class="span4">
                <h2>LMS users</h2>
                <p>LMS users will select which courses or other users are registered in a LMS.</p>
                <p><a href="{{ url_for('login_lms') }}">Manage LMS internals</a></p>
            </div>

        </div>
	    
    </div>
{% endblock %}
