<html><head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://www.json.org/json2.js"></script>
    <script type="text/javascript">
function perform_post(){
 $(function() {
   var payload = {
        'action'     : 'reserve',
        'experiment' : 'robot'
   };

   var dat = JSON.stringify({
        "courses" : {"2" : "s", "3" : "t", "1" : "s"},
        "request-payload" : JSON.stringify(payload),
        "is-admin" : true,
        "user-id" : "jdoe",
        "full-name" : "John Doe",
        "origin-ip" : "123.123.123.123",
        "user-agent" : navigator.userAgent,
        "referer"    : "http://www.google.com/"
    });
   $.ajax( {
        "url"  : "{{ request.url }}",
        "data" : dat,
        "type" : "POST",
        "contentType" : "application/json",
    } ).done(function (data) {
        document.getElementsByTagName('body')[0].innerHTML = data;
    });
 });
}
</script>
</head>
<body>
    <span onclick="javascript:perform_post();">Click me</span>
</body>
</html>
