{% set current_link = "courses" %}
{% extends "lms_admin/layout-logged.html" %}
{% block title %} Courses {% endblock %}

{% block body %}
{{ super() }}

<div class="span10 offset1">
    
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('lms_admin_courses') }}">Courses</a> <span class="divider">/</span>
        </li>
        <li class="active">{{ course.name }}</a></li>
    </ul> 

    <form action="." method="POST">
    {% if permissions|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>RLMS type</th>
                <th>RLMS name</th>
                <th>Location</th>
                <th>Granted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for permission_on_lab in permissions %}
            <tr>
                <td>{{ permission_on_lab.laboratory.name }}</td>
                <td>{{ permission_on_lab.local_identifier }}</td>
                <td>{{ permission_on_lab.laboratory.rlms.rlms_version.rlms_type.name }}</td>
                <td>{{ permission_on_lab.laboratory.rlms.name }}</td>
                <td>{{ permission_on_lab.laboratory.rlms.location }}</td>
                <td><i class="icon-{% if permission_on_lab.id in granted_permission_ids %}ok{% else %}remove{% endif %}"></i></td>
                {% if permission_on_lab.id in granted_permission_ids %}
                <td><button class="btn" name="action" value="revoke-{{ permission_on_lab.id }}">Revoke</button></td>
                <td><a class="btn" href="{{ url_for('lms_admin_courses_permissions_edit', course_id = course.id, permission_on_lab_id = permission_on_lab.id) }}">Edit</a></td>
                {% else %}
                <td><a class="btn" href="{{ url_for('lms_admin_courses_permissions_edit', course_id = course.id, permission_on_lab_id = permission_on_lab.id) }}">Grant</a></td>
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else  %}
    <div class="alert">
        No permission found
    </div>
    {% endif %}
    <div class="form-actions" align="center">
        <a href="{{ url_for('lms_admin_courses') }}" class="btn">Cancel</a>
    </div>
    </form>

</div>

{% endblock %}
