{% set current_link = "courses" %}
{% extends "lms_admin/layout-logged.html" %}
{% block title %} Courses {% endblock %}

{% block body %}
{{ super() }}

<div class="span10 offset1">
    
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('lms_admin_courses') }}">Courses</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ url_for('lms_admin_courses_permissions', course_id = course.id) }}">{{ course.name }}</a> <span class="divider">/</span>
        </li>

        <li class="active">{{ lab.name }}</a></li>
    </ul> 
</div>

<div class="span6 offset3">
    {% from "_form_helpers.html" import render_field %}
    <form method="POST" action="{{ request.url }}" class="form-horizontal">
        {{ form.hidden_tag() }}

        <fieldset>
            {% for field_name in form.get_field_names() %}
                {{ render_field(form|attr(field_name)) }}
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% if add_or_edit %}Grant{% else %}Save changes{% endif %}</button>
                <a href="{{ url_for('lms_admin_courses_permissions', course_id = course.id) }}" class="btn">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
