{% extends 'admin/master.html' %}
{% block body %}
<h1>LMS Admin Dashboard</h1>

<div class="row">
    <div class="span8">
        <p>Hi {{ current_user.full_name }} (of {{ current_user.lt.name }})!</p>

        <p>This is the LMS administration tool. Here you can:</p>
        <ul>
            <li>Create, modify or remove users of this LMS.</li>
            <li>Grant permissions on these users.</li>
            <li>Create, modify or remove courses</li>
            <li>Grant permissions on these courses.</li>
        </ul>
    </div>
</div>

{% endblock %}
