{% extends 'admin/master.html' %}
{% block body %}
<h1>{{gettext('LMS Admin Dashboard')}}</h1>

<div class="row">
    <div class="span8">
        <p>{{gettext('Hi')}} {{ current_user.full_name }} {{gettext('of')}} {{ current_user.lms.name }}!</p>

        <p>{{gettext('This is the LMS administration tool. Here you can:')}}</p>
        <ul>
            <li>{{gettext('Create, modify or remove users of this LMS.')}}</li>
            <li>{{gettext('Grant permissions on these users.')}}</li>
            <li>{{gettext('Create, modify or remove courses')}}</li>
            <li>{{gettext('Grant permissions on these courses.')}}</li>
        </ul>
    </div>
</div>

{% endblock %}
