{% include "labmanager_admin/header.html" %}
<body>
    <div class="container">
        <div class="row">
            <div class="hero-unit" align="center">
                <h1>lms4labs</h1>
                <br />
        <!--        <p><img src="img/lms4labs.png" alt="LMS4labs Logo" /></p> -->
                <p>Lab Manager administrator</p>
            </div>
        </div>
        
        <div class="row span4 offset3 well">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <input type="text" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input type="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

<!--
    <input type="text" class="input-xlarge" id="input01">
    <div class="btn-group">
      <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
        <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="i"></i> Make admin</a></li>
      </ul>
    </div>
Hey ho
-->
</body>
</html>
