{% extends 'admin/master.html' %}
{% block body %}
<h3>{{gettext('Available labs for ')}}<a href="{{rlms.url}}">{{ rlms.kind }} ({{rlms.version }})</a> {{gettext('at')}} {{ rlms.location }}</h3>


{% if labs|length > 0 %}
<form action="." method="POST">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{gettext('Selected')}}</th>
                <th>{{gettext('Identifier')}}</th>
                <th>{{gettext('Name')}}</th>
                <th>{{gettext('Registered?')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for lab in labs %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="{{ lab.laboratory_id }}"></label></td>
                <td>{{ lab.laboratory_id }}</td>
                <td>{{ lab.name }}</td>
                {% if lab.laboratory_id in registered_labs %}
                    <td><i class="icon-ok"></i></td>
                {% else %}
                    <td><i class="icon-remove"></i></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </form>
    </table>
    <div class="form-actions" align="center">
        <button class="btn btn-primary" name="action" type="submit" value="register">{{gettext('Register')}}</button>
        <button class="btn btn-danger"  name="action" type="submit" value="unregister">{{gettext('Unregister')}}</button>
    </div>
</form>
{% else %}
<div class="alert">
    {{gettext('No laboratory found')}}
</div>
{% endif %}

{% endblock %}
