{% set current_link = "lms" %}
{% extends "labmanager_admin/layout-logged.html" %}
{% block title %} LMS {% if name %}{{ name }}{% endif %} {% endblock %}

{% block body_row %}
{{ super() }}


<div class="span10 offset1">
    
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('admin_lms') }}">LMS</a> {% if name is not none %}<span class="divider">/</span> {% endif %}
        </li>
        {% if name %}
        <li class="active">{{ name }}</li>
        {% endif %}
    </ul> 
</div>

<div class="span6 offset3">
    {% from "_form_helpers.html" import render_field %}
    <form method="POST" action="{{ request.url }}" class="form-horizontal">
        {{ form.hidden_tag() }}

        <fieldset>
            {% for field_name in form.get_field_names() %}
                {{ render_field(form|attr(field_name)) }}
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <a href="{{ url_for('admin_lms') }}" class="btn">Cancel</a>
            </div>
        </fieldset>
    </form>

</div>


{% endblock %}
