{% extends "labmanager_admin/layout.html" %}
{% block title %} Login {% endblock %}

{% block body %}
{{ super() }}

</head>
<body onload="javascript:document.getElementById('username-input').focus();">
    <div class="container">
        <div class="row">
            <div class="hero-unit" align="center">
                <p><img height="150" src="{{ url_for('static', filename='logo.png') }}" alt="LMS4labs Logo" /></p>
                <p>Lab Manager administrator</p>
            </div>
        </div>
        
        <div class="row span3 offset3">
            {% if login_error %}
            <div class="alert alert-error" align="center">
                <b>Invalid username or password!</b>
            </div>
            {% endif %}

            <form class="form-horizontal" action="{{ url_for('admin_login', next = next) }}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <input type="text" placeholder="Username" name="username" id="username-input" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input type="password" placeholder="Password" name="password"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}
