{% include "labmanager_admin/header.html" %}
    <div class="container">
        <div class="row">
            <div class="hero-unit" align="center">
                <h1>lms4labs</h1>
                <br />
        <!--        <p><img src="img/lms4labs.png" alt="LMS4labs Logo" /></p> -->
                <p>Lab Manager administrator</p>
            </div>
        </div>
        
        <div class="row span4 offset3 well">
            {% if login_error %}
            <div class="alert alert-error" align="center">
                <b>Invalid username or password!</b>
            </div>
            {% endif %}

            <form class="form-horizontal" action="{{ url_for('admin_login') }}" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Username</label>
                        <div class="controls">
                            <input type="text" placeholder="Username" name="username" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <input type="password" placeholder="Password" name="password"/>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% include "labmanager_admin/footer.html" %}
