{% set current_link = "rlms" %}
{% extends "labmanager_admin/layout-logged.html" %}
{% block title %} RLMS {% endblock %}

{% block body %}
{{ super() }}
<div class="span10 offset1">
    <ul class="breadcrumb">
        <li class="active"> RLMS </li>
    </ul> 

    <form action="." method="POST">
    {% if types|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Selected</th>
                <th>RLMS Type</th>
                <th>Supported</th>
                <th>Versions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="{{ type.id }}"></label></td>
                <td>{{ type.name }}</td>
                <td><i class="icon-{% if type.name in supported %}ok{% else %}remove{% endif %}"></i></td>
                <td><a href="{{ url_for('admin_rlms_versions', rlmstype = type.name) }}" class="btn">List</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert">
        No RLMS type found
    </div>
    {% endif %}

    <div class="form-actions" align="center">
        <input class="btn btn-primary {% if not any_supported_missing %}disabled{% endif %}" name="action" type="submit" value="Add supported"/>
        {% if types|length > 0 %}<button class="btn btn-danger" name="action" type="submit" value="delete">Delete</button>{% endif %}
    </div>
    </form>
</div>
{% endblock %}
