{% set current_link = "rlms" %}
{% extends "labmanager_admin/layout-logged.html" %}
{% block title %} RLMS error {% endblock %}
{% block body_row %}
{{ super() }}

<div class="span10 offset1">
    <div class="alert alert-error">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% else %}
            Requested RLMS does not exist. Recheck the address
            {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}
