{% set current_link = "rlms" %}
{% extends "labmanager_admin/layout-logged.html" %}
{% block title %} RLMS {{ name }} / {{ version }} {% endblock %}

{% block body_row %}
{{ super() }}


<div class="span10 offset1">
    
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('admin_rlms') }}">RLMS</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ url_for('admin_rlms_versions', rlmstype = name) }}">{{ name }}</a> <span class="divider">/</span>
        </li>
        <li class="active"> {{ version }} </li>
    </ul> 

    <form action="." method="POST">
    {% if rlmss|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Selected</th>
                <th>RLMS Type</th>
                <th>Version</th>
                <th>Name</th>
                <th>Location</th>
                <th>Edit</th>
                <th>List</th>
            </tr>
        </thead>
        <tbody>
        {% for rlms in rlmss %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="{{ rlms.id }}"></label></td>
                <td>{{ rlms.rlms_version.rlms_type.name }}</td>
                <td>{{ rlms.rlms_version.version }}</td>
                <td>{{ rlms.name }}</td>
                <td>{{ rlms.location }}</td>
                <td><a href="{{ url_for('admin_rlms_rlms_edit', rlmstype = name, rlmsversion = rlms.rlms_version.version, id = rlms.id) }}" class="btn">Edit</a></td>
                <td><a href="{{ url_for('admin_rlms_rlms_list', rlmstype = name, rlmsversion = rlms.rlms_version.version, id = rlms.id) }}" class="btn">List</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else  %}
    <div class="alert">
        No RLMS found
    </div>
    {% endif %}
    <div class="form-actions" align="center">
        <input class="btn btn-primary" name="action" type="submit" value="Add"/>
        {% if rlmss|length > 0 %}<button class="btn btn-danger" name="action" type="submit" value="delete">Delete</button>{% endif %}
        <a href="{{ url_for('admin_rlms_versions', rlmstype = name) }}" class="btn">Cancel</a>
    </div>
    </form>

</div>


{% endblock %}
