{% include "labmanager_admin/header-logged.html" %}

<div class="span10 offset1">
    <ul class="breadcrumb">
        <li class="active"> RLMS </li>
    </ul> 

    {% if types|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>RLMS Type</th>
                <th>Versions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>

                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td><a href="{{ url_for('admin_rlms_versions', rlmstype = type.name) }}" class="btn">List</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert">
        No RLMS type found
    </div>
    {% endif %}

</div>


{% include "labmanager_admin/footer.html" %}
