{% set current_link = "rlms" %}
{% extends "labmanager_admin/layout-logged.html" %}
{% block title %} RLMS {{ name }} {% endblock %}

{% block body_row %}
{{ super() }}

<div class="span10 offset1">
    
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('admin_rlms') }}">RLMS</a> <span class="divider">/</span>
        </li>
        <li class="active"> {{ name }} </li>
    </ul> 

    <form action="." method="POST">
    {% if versions|length > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Selected</th>
                <th>RLMS Type</th>
                <th>Version</th>
                <th>Supported</th>
                <th>RLMSs</th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="{{ version.id }}"></label></td>
                <td>{{ version.rlms_type.name }}</td>
                <td>{{ version.version }}</td>
                <td><i class="icon-{% if version.version in supported %}ok{% else %}remove{% endif %}"></i></td>
                <td><a href="{{ url_for('admin_rlms_rlms', rlmstype = version.rlms_type.name, rlmsversion = version.version) }}" class="btn">List</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert">
        No version found
    </div>
    {% endif %}
    <div class="form-actions" align="center">
        <input class="btn btn-primary {% if not any_supported_missing %}disabled{% endif %}" name="action" type="submit" value="Add supported"/>
        {% if versions|length > 0 %}<button class="btn btn-danger" name="action" type="submit" value="delete">Delete</button>{% endif %}
        <a href="{{ url_for('admin_rlms') }}" class="btn">Cancel</a>
    </div>
    </form>
</div>


{% endblock %}
