{% extends 'admin/master.html' %}
{% block body %}
<h3>Properties for <a href="{{rlms.url}}">{{ rlms.kind }} ({{rlms.version }})</a> at {{ rlms.location }} </h3>


{% if prop_value_list %}
<form action="." method="POST">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
             
            </tr>
        </thead>
        <tbody>

            {% for prop_value in prop_value_list %}
            <tr>
                <td>{{ prop_value[0] }}</td> 
                <td><input type="text" value=" {{ prop_value[1] }}"><br>   </td>
            </tr>
            {% endfor %}
        </tbody>
        </form>
    </table>
    <div class="form-actions" align="center">
        <button class="btn btn-primary" name="action" type="submit" value="savechanges">Change properties</button>
        <button class="btn btn-danger"  name="action" type="submit" value="cancelchanges">Cancel</button>
    </div>
</form>
{% else %}
<div class="alert">
    No property found
</div>
{% endif %}

{% endblock %}
