<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{gettext('Lab Manager')}}</title>
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">
</head>
<body>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}

        <div class="span10 offset1">
            <div class="alert alert-error">
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>

            </div>
        </div>
            {% endif %}
        {% endwith %}

        <div class="">
            <div>
                <legend class="">{{gettext('Access the laboratory')}}</legend>
            </div>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{gettext('Property')}}</th>
                        <th>{{gettext('Value')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{gettext('Laboratory')}}</td>
                        <td>{{ laboratory.name }}</td>
                    </tr>

                    <tr>
                        <td>{{gettext('RLMS')}}</td>
                        <td>{{ laboratory.rlms.kind }}</td>
                    </tr>

                    <tr>
                        <td>{{gettext('RLMS Location')}}</td>
                        <td>{{ laboratory.rlms.location }}</td>
                    </tr>

                </tbody>
            </table>

            <form method="POST" action="{{ url_for('.show_lab', public_identifier = laboratory.public_identifier) }}">
                <button type="submit" class="btn btn-primary">{{gettext('Click here to use the lab')}}</button>
            </form>
        </div>
    </div>
</html>
