{% extends 'admin/master.html' %}
{% block body %}
<h3>{{gettext('Labs for ')}}<a href="{{rlms.url}}">{{ rlms.kind }} ({{rlms.version }})</a> {{gettext('at')}} {{ rlms.location }}</h3>

<p><i>{{ gettext("Results:") }} {{ labs|length }}</i></p>

<div class="pull-right">
    <form action="." method="GET" class="form-search">
        <div class="input-prepend">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
            <input id="query" class="input-medium search-query" type="text" name="q" value="{{ query or '' }}"/>
        </div>
    </form>
</div>

{% if labs|length > 0 %}
<form action="{{ url_for('.list_labs', public_identifier = public_identifier, q = query or '') }}" method="POST">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>{{gettext('Selected')}}</th>
                <th>{{gettext('Identifier')}}</th>
                <th>{{gettext('Name')}}</th>
                <th>{{gettext('Widgets')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for lab in labs %}
            <tr>
                <td><label class="checkbox"><input type="checkbox" name="{{ lab.laboratory_id }}"></label></td>
                <td>{{ lab.laboratory_id }}</td>
                <td>{{ lab.name }}</td>
                <td><a href="{{ url_for('.list_widgets', rlms_identifier = public_identifier, lab_identifier = lab.laboratory_id) }}">list</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </form>
    </table>

    {% if pages %}
        <div class="text-center">
            <div class="pagination">
                <ul>
                    {% for page in pages %}
                        <li class="{% if not page['active'] %}disabled{% endif %}"><a href="{{ page['link'] }}">{{ page['label'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</form>
{% elif force_search %}
<div class="alert">
    {{ gettext('You need to search for retrieving results') }}
</div>
{% else %}
<div class="alert">
    {{gettext('No laboratory found')}}
</div>
{% endif %}

{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        $('#query').focus();
        $("#query").val($("#query").val());
    </script>
{% endblock %}
