<?xml version="1.0" encoding="UTF-8"?>
<Module>
 {% set IS_FLASH = app.url.endswith('.swf') %} 
 {% if app.scale %}
    {% set real_height = (app.height * app.scale / 9890.0)|int %}
 {% else %}
    {% set real_height = app.height + 20 %}
 {% endif %}

 <ModulePrefs title="{{ app.name }}" height="{{ real_height }}" author="{{ author }}">
    <Require feature="osapi" />
    {% if IS_FLASH %}
    <Require feature="flash" />
    {% endif %}
    {% if languages|length > 1 %}
        <Locale messages="{{ url_for('static', filename="empty.xml", _external=True) }}"/>
        {% for language in languages %}
            <Locale lang="{{ language }}" messages="{{ url_for('static', filename="empty.xml", _external=True) }}"/>
        {% endfor %}
    {% endif %}
    <appcomposer check-url="{{ app.url }}"/>
    {% for app_url in apps_per_language.values() %}
    <appcomposer check-url="{{ app_url['url'] }}"/>
    {% endfor %}
    {% if app.uses_proxy %}
    <appcomposer uses-proxy="true"/>
    {% endif %}
 </ModulePrefs>
 <Content type="html" view="home,canvas">
 <![CDATA[
    <head>
    <style>
        {% if not IS_FLASH %}
        #app_url {
        {# 9890 = 98.9% #}
        {% set max_width = 9890 %}
        {% if app.scale %}
            {% set new_scale = "scale(%s)" % (app.scale/max_width) %}
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
            width: {{ max_width/(app.scale/100) }}%;
            -webkit-transform: {{ new_scale }};
            -moz-transform: {{ new_scale }};
            -ms-transform: {{ new_scale }};
            -o-transform: {{ new_scale }};
            transform: {{ new_scale }};
        {% else %}
            width: {{ max_width / 100 }}%;
        {% endif %}
        }
        {% endif %}
    </style>
    </head>

    <div style="width: 100%; overflow: hidden {% if app.height and app.scale %}; height: {{ real_height }}px{% endif %}">
         {% if IS_FLASH %}
         <div id="app_url" style="text-align: center"></div>
         {% else %}
         <iframe id="app_url" {% if app.scale != 10000 %}scrolling="no"{% endif %} frameborder="0" {% if app.height %}height="{{ app.height }}px"{% else %}height="800px" {% endif %}></iframe>
         {% endif %}
    </div>

    {% if request.args.get('reporting') != 'false' %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.8.3.min.js', _external = True) }}"></script>
    <script type="text/javascript" src="https://shindig2.epfl.ch/ils/main/ils_graaspeu.js"></script>
    <script type="text/javascript" src="https://shindig2.epfl.ch/ils/metadata/MetadataHandler.js"></script>
    <script type="text/javascript" src="https://shindig2.epfl.ch/ils/applog/ActionLogger.js"></script>
    <script type="text/javascript">
        var STATS_ADDRESS = "{{ url_for("embed.stats", url=url_for('.app_xml', identifier=identifier, _external=True), _external=True) }}";
    </script>
    <script src="{{ url_for('static', filename="opensocial/storage.js", _external=True) }}"></script>
    {% endif %}

    <script type="text/javascript">
        {% if request.args.get('reporting') != 'false' %}
		function generateUUID(){
			var d = new Date().getTime();
			var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				var r = (d + Math.random()*16)%16 | 0;
				d = Math.floor(d/16);
				return (c=='x' ? r : (r&0x3|0x8)).toString(16);
			});
			return uuid;
		}
        {% endif %}

        function init() {
            var prefs = new gadgets.Prefs();
            var urls_per_language = {};
            {% for lang in apps_per_language %}
            urls_per_language[{{ lang|tojson }}] = {{ apps_per_language[lang]['full_url']|tojson }};
            {% endfor %}
            var default_url = {{ app.full_url|tojson }};
            var url = null;

            if (prefs.getLang()) {
                if (prefs.getCountry())
                    url = urls_per_language[prefs.getLang() + "_" + prefs.getCountry()];
                if (!url)
                    url = urls_per_language[prefs.getLang() + "_ALL"];
                if (!url)
                    url = urls_per_language[prefs.getLang()];
            }

            if (!url) 
                url = default_url;

            {% if IS_FLASH %}
            gadgets.flash.embedFlash(url, "app_url", {
                swf_version: 9,
                height: "{{ app.height }}"
            });
            {% else %}
            document.getElementById("app_url").src = url;
			{% endif %}

            {% if request.args.get('reporting') != 'false' %}
            var uniqueSession = generateUUID();
            {% if request.args.get('debug') %}
            if (console && console.log) {
                console.log("Reporting started: " + {{ app.name|tojson }} + "{{ url_for('.app_xml', identifier=identifier, _external=True) }}" + "  ; unique session: " + uniqueSession);
            }
            {% endif %}
            reportStarted({{ app.name|tojson }}, "{{ url_for('.app_xml', identifier=identifier, _external=True) }}", uniqueSession);
            {% endif %}
        }

        gadgets.util.registerOnLoadHandler(init);
    </script>
 ]]>
</Content>
</Module>
