{% extends "embed/base.html" %}

{% block body %}
    <h1>{{ gettext("List of applications") }}</h1>
    <ul>
        {% for app in applications %}
            <li><a href="{{ url_for('.app', identifier = app.identifier) }}">{{ app.name }}</a> (<a href="{{ url_for('.app_xml', identifier = app.identifier) }}">app xml</a>)- by {{ app.owner.display_name }} on {{ app.creation }} {% if app.creation != app.last_update %}(modified on {{ app.last_update }}){% endif %}
            <ul>
                <li>Default - <a href="{{ app.url }}">{{ app.url }}</a></li>
                {% for translation in app.translations %}
                <li>{{ translation.language }} - <a href="{{ translation.url }}">{{ translation.url }}</a></li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
