{% extends "embed/base.html" %}
  
{% block body %}
    {{ super() }}

    <center>
        <h3>Load in another page</h3>
        <br>
        <img src="{{ url_for('static', filename='security.png') }}" style="width: 50%; max-width: 100px">
        <br>
        <br>
    </center>

    <p style="font-size: 150%">For security reasons this online lab cannot be opened in this page directly. Click on the button below to open the lab in a separate page.</p>

    <center>
        <button id="button" class="btn btn-lg btn-primary">Open in a new page</button>
    </center>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                var url = location.toString();
                if (url.startsWith("https://")) {
                    url = url.replace("https://", "http://");
                }
                if (url.indexOf("requires_https=true") >= 0) {
                    url = url.replace("requires_https=true", "requires_https=false");
                }
                if (url.indexOf("requires_https=1") >= 0) {
                    url = url.replace("requires_https=1", "requires_https=false");
                }

                window.open(url);
            });
        });
    </script>
{% endblock %}
