{% extends "embed/base.html" %}
  
{% block body %}
    {{ super() }}

    <center>
        <h3>Load in another page</h3>
        <br>
        <img src="{{ url_for('static', filename='security.png') }}" style="width: 50%; max-width: 100px">
        <br>
        <br>
    </center>

    <center>
        <p style="font-size: 150%; width: 70%">For security reasons this online lab cannot be opened in this page directly. Click on the button below to open the lab in a separate page.</p>
    </center>

    <center>
        <button id="button" class="btn btn-lg btn-primary">Open in a new page</button>
    </center>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                var url = location.toString();
                if (url.startsWith("https://")) {
                    url = url.replace("https://", "http://");
                }
                if (url.indexOf("requires_https=true") >= 0) {
                    url = url.replace("requires_https=true", "requires_https=false");
                }
                if (url.indexOf("requires_https=1") >= 0) {
                    url = url.replace("requires_https=1", "requires_https=false");
                }

                window.open(url);
            });

            function getParameterByName(name) {
                var url = window.location.hash;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);

                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }

            var target = "";
            var resourceId = "";

            if (window.location.hash) {
                resourceId = getParameterByName("resourceId") || "";
                target = getParameterByName("target") || "";
            }

            if (target && resourceId) {
                var height = document.getElementsByTagName('body')[0].offsetHeight;
                var message = JSON.stringify({ 
                    'event': 'resize',
                    'resourceId': resourceId,
                    'height': '' + height + 'px'
                });
                parent.postMessage(message, target);
                console.log("Requesting to resize: ", message, " on ", target);
            }
        });
    </script>
{% endblock %}
