{% extends "embed/base.html" %}

{% block head %}
    {{ super() }}
    {% if app %}
    <meta name="check-url" value="{{ app.url }}"/>
    {% for app_url in apps_per_language.values() %}
    <meta name="check-url" value="{{ app_url['url'] }}"/>
    {% endfor %}
    <meta name="uses-proxy" value="{% if app.uses_proxy %}true{% else %}false{% endif %}">
    {% endif %}

    <meta name="translations" lang="en" value="{{ url_for('static', filename='embed-messages.xml', _external=True) }}">

    <meta name='golab-i18n-autoload' value='true'>
{% endblock %}
  
{% block body %}
    {{ super() }}

    <div id="embed-container" style='display: none'>
        <center>
            <h3 golab-lang='embed.title'></h3>
            <br>
            <img src="{{ url_for('static', filename='security.png') }}" style="width: 50%; max-width: 100px">
            <br>
            <br>
        </center>

        <center>
            <p style="font-size: 150%; width: 70%" golab-lang='embed.body'></p>
        </center>

        <center>
            <button id="button" class="btn btn-lg btn-primary" golab-lang='embed.link'></button>
        </center>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        function sendHeight() {
            function getParameterByName(name) {
                var url = window.location.hash;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);

                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }

            var target = "";
            var resourceId = "";

            if (window.location.hash) {
                resourceId = getParameterByName("resourceId") || "";
                target = getParameterByName("target") || "";
            }

            if (target && resourceId) {
                var height = document.getElementsByTagName('body')[0].offsetHeight;
                var message = JSON.stringify({ 
                    'event': 'resize',
                    'resourceId': resourceId,
                    'height': '' + height + 'px'
                });
                parent.postMessage(message, target);
                console.log("Requesting to resize: ", message, " on ", target);
            }
        }

        $(document).ready(function () {
            $("#button").click(function () {
                var url = location.toString();
                if (url.startsWith("https://")) {
                    url = url.replace("https://", "http://");
                }
                if (url.indexOf("requires_https=true") >= 0) {
                    url = url.replace("requires_https=true", "requires_https=false");
                }
                if (url.indexOf("requires_https=1") >= 0) {
                    url = url.replace("requires_https=1", "requires_https=false");
                }

                window.open(url);
            });
            
            sendHeight();
        });
    </script>

    <script src="https://composer.golabz.eu/static/js/translations-jquery-1.0.js"></script>

    <script>
        var prefs = new golab.i18n();
        function onLoaded() {
            $('#embed-container').show();
            sendHeight();
        }
        prefs.ready(onLoaded);

        setTimeout(onLoaded, 2000);
        setTimeout(onLoaded, 5000);
        setTimeout(onLoaded, 10000);
        setTimeout(onLoaded, 15000);
        setTimeout(onLoaded, 20000);
    </script>
{% endblock %}
