<html>

<head>

    <title>Testing tool</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">

    <style>
        .boxsizingBorder {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }

        textarea
        {
            border:1px solid #999999;
            width:100%;
            margin:5px 0;
            padding:3px;
        }
    </style>

    <script type="text/javascript" src="{{ url_for('static', filename='json2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.js") }}"></script>

    <script type="text/javascript">
 
 
$(function() {
    $('#web_browser').attr('value', navigator.userAgent);
});


function serialize_request() {
    var local_identifier = $('#experiment_select').val();
    var payload = {
        'action'     : 'reserve',
        'experiment' : local_identifier
    };

    var browser     = $('#web_browser').val();
    var remote_addr = $('#remote_addr').val();
    var full_name   = $('#full_name').val();
    var username    = $('#username').val();
    var referrer    = $('#referrer').val();
    var is_admin    = $('#admin_checkbox').attr('checked') == 'checked';
    var courses_instructor = $('#courses_instructor_select').val();
    var courses_learner = $('#courses_learner_select').val();

    var courses = {
    };

    $(courses_learner).each(function(pos, elem) {
        courses[elem] = "s";
    });


    $(courses_instructor).each(function(pos, elem) {
        courses[elem] = "t";
    });

    var dat = JSON.stringify({
        "courses"         : courses,
        "request-payload" : JSON.stringify(payload),
        "is-admin"        : is_admin,
        "user-id"         : username,
        "full-name"       : full_name,
        "origin-ip"       : remote_addr,
        "user-agent"      : browser,
        "referer"         : referrer
    }, undefined, 2);

    $('#request_content').val(dat);
}

function clearSelection(identifier) {
    $("#" + identifier + " option:selected").removeAttr("selected");
}

function perform_request() {
    serialize_request();
    dat = $('#request_content').val();

    $.ajax({
        "url"  : "{{ request.url }}",
        "data" : dat,
        "type" : "POST",
        "contentType" : "application/json",
    }).done(function (data) {
        $('#response_content').val(data);
    });
}
</script>
</head>
<body>
    <div class="container">
        <div class="hero-unit" style="text-align: center">
            <h1>HTTP interface testing tool</h1>
            <p style="margin-top: 20px">This tool is only intended for system administrators
            for testing the internal requests that are going to be
            performed.</p>
        </div>

        <div class="row">
            <div class="offset2 span4">

                <div class="form-horizontal">
                    <div id="legend">
                          <legend class="">Testing tool</legend>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="experiment_select">Experiment</label>
                        <div class="controls">
                            <select id="experiment_select" name="experiment">
                                {% for local_identifier in local_identifiers %}
                                    <option value="{{ local_identifier }}">{{ local_identifier }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">        
                        <label class="control-label" for="username"> Username </label>
                        <div class="controls">
                            <input type="text" name="username" placeholder="Username" id="username" value="jdoe">
                        </div>
                    </div>

                    <div class="control-group">        
                        <label class="control-label" for="full_name"> Full name </label>
                        <div class="controls">
                            <input type="text" name="full_name" placeholder="Full name" id="full_name" value="John Doe">
                        </div>
                    </div>

                    <div class="control-group">        
                        <label class="control-label" for="web_browser"> Web browser </label>
                        <div class="controls">
                            <input type="text" name="web_browser" placeholder="Web browser" id="web_browser">
                        </div>
                    </div>

                    <div class="control-group">        
                        <label class="control-label" for="remote_addr"> Remote address </label>
                        <div class="controls">
                            <input type="text" name="remote_addr" placeholder="Remote address" id="remote_addr" value="{{ remote_addr }}">
                        </div>
                    </div>

                    <div class="control-group">        
                        <label class="control-label" for="referrer"> Referrer </label>
                        <div class="controls">
                            <input type="text" name="referrer" placeholder="Referrer" id="referrer" value="http://www.google.com/">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="courses_instructor"> Courses - instructor <br/><br/><button class="btn" onclick="javascript:clearSelection('courses_instructor_select');">Clear</button></label>
                        <div class="controls">
                            <select id="courses_instructor_select" name="courses_instructor" multiple="multiple">
                                {% for course in courses %}
                                    <option value="{{ course.context_id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="courses_learner"> Courses - learner <br/><br/><button class="btn" onclick="javascript:clearSelection('courses_learner_select');">Clear</button> </label> 
                        <div class="controls">
                            <select id="courses_learner_select" name="courses_learner" multiple="multiple">
                                {% for course in courses %}
                                    <option selected="selected"  value="{{ course.context_id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" id="admin_checkbox">Is admin?</input>
                            </label>
                            <button onclick="javascript:serialize_request();" class="btn btn-success">Serialize request</button>
                        </div>
                    </div>

                    <a href="{{ url_for('index') }}" class="btn">Back</a>
                </div>
            </div>

            <div class="span4">
                <div id="legend">
                    <legend class="">Serialized request</legend>
                </div>

                <textarea cols="100" readonly="readonly" rows="20" id="request_content"></textarea>
                <div class="control-group">        
                    <div class="controls">
                        <button onclick="javascript:perform_request();" class="btn btn-success">Perform request</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span8 offset2">
                <div id="legend">
                    <legend class="">Serialized response</legend>
                </div>

                <textarea width="100%" readonly="readonly" id="response_content"></textarea>
            </div>
        </div>
    </div>
</body>
</html>
