{% extends "lti/layout.html" %}
{% block content %}
<div>
  <p>
    Hello{{ " "+info.role }}!<br/>
    '{{ info.context_label }}' from '{{ info.lms }}'.
  </p>

  {% if info.context_laboratories %}
  <fieldset>
    <form action="experiment/" method="POST">
      <legend>Reserve laboratory.</legend>
      <table>

        {% for p in info.context_laboratories %}
        {% include 'lti/_lab_for_reserve.html' %}
        {% endfor %}

      </table>
      <input type="hidden" name="context_id" value="{{info.context_id}}">
      <input type="submit" value="Reserve Laboratory">
    </form>
  </fieldset>
  {% else %}
  <p> This context has no access to laboratories yet.</p>
  {% endif %}

  {% if info.role == 'Instructor' %}
  <form action="request_permission/" method="POST">
    <fieldset>
      <legend>Request access to laboratories.</legend>
      {% for remote in info.rlms %}
      {% set iteri = loop.index %}
      <fieldset style='border:none'>
        <legend>{{ remote }}</legend>
        {% for exp in info.rlms[remote] %}
        {% set iterj = loop.index %}
        <input type="checkbox"
               name="rlmslaboratories"
               id="exp-{{exp.id}}"
               value="{{ info.rlms_ids[remote] }}:{{ exp.id }}" />
        <label for="exp-{{ exp.id }}">
          {{ exp.name }}
        </label>
        <br/>
        {% endfor %}
      </fieldset>
      {% endfor %}

      <input type="hidden" name="context_id" value={{ info.context_id }}>
      <input type="hidden" name="lms_id" value={{ info.lms_id }}>
      <input type="hidden" name="context_label" value={{ info.context_label }}>
      <input type="submit" value="Submit Request">
    </fieldset>
  </form>
  {% endif %}

</div>
{% endblock %}
