<div>
  {% if info.message %}
  <fieldset><legend>DEBUG MESSAGES</legend><p style='color:#F00; text-align:center'>{{ info.message|safe }}</p></fieldset>
  {% endif %}
  <p>
    Hello{{ " "+info.role }}!<br/>
    '{{ info.context_label }}' on '{{ info.lms }}' has no experiments assigned yet.
  </p>

  {% if info.access_requests %}
  <fieldset>
    <legend>Permission status for this course:</legend>
    <table>
      {% for permission in info.access_requests %}
      <tr>
        <td> {{ permission.access | title }}</td>
        <td> {{ permission.experiment }}</td>
      </tr>
      {% endfor %}
    </table>
  </fieldset>
  {% endif %}

  <form action="request_permission/" method="POST">
    <fieldset>
      <legend>1. Choose the experiments you would like to request access to.</legend>
      {% for remote in info.rlms %}
      {% set iteri = loop.index %}
      <fieldset style='border:none'>
        <legend>{{ remote }}</legend>
        {% for exp in info.rlms[remote] %}
        {% set iterj = loop.index %}
        <input type="checkbox" name="rlmsexperiments" id="exp-{{exp.id}}" value="{{ info.rlms_ids[remote] }}:{{ exp.id }}" />
        <label for="exp-{{ exp.id }}">{{ exp.name }}</label>
        <br/>
        {% endfor %}
      </fieldset>
      {% endfor %}
      
    </fieldset>
    <fieldset>
      <legend>2. Request Access</legend>
      <input type="hidden" name="context_id" value={{ info.context_id }}>
      <input type="hidden" name="lms_id" value={{ info.lms_id }}>
      <input type="hidden" name="context_label" value={{ info.context_label }}>
      <input type="submit" value="Submit Request">
    </fieldset>
  </form>
</div>
