<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{gettext('Lab Manager')}}</title>
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link  href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="">
            <div>
                <legend class="">{{gettext('Access the laboratory')}} <span style="font-style: italic; font-weight: bold">{{ local_identifier }}</span></legend>
            </div>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{gettext('Property')}}</th>
                        <th>{{gettext('Value')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{gettext('Laboratory')}}</td>
                        <td>{{ laboratory.name }}</td>
                    </tr>

                    <tr>
                        <td>{{gettext('RLMS')}}</td>
                        <td>{{ laboratory.rlms.kind }}</td>
                    </tr>

                    <tr>
                        <td>{{gettext('RLMS Location')}}</td>
                        <td>{{ laboratory.rlms.location }}</td>
                    </tr>

                </tbody>
            </table>

            <form method="POST" action="{{ url_for('lti.launch_experiment') }}">
                <button type="submit" class="btn btn-primary">{{gettext('Click here to use the lab')}}</button>
                {% if return_url %}
                <a href="{{ return_url }}" class="btn btn-default">{{ gettext("Return") }}</a>
                {% endif %}
            </form>
        </div>
    </div>
</html>
