<div>
  <fieldset><legend>DEBUG MESSAGES</legend><p style='color:#F00; text-align:center'>{{ info.message|safe }}</p></fieldset>
  <p>
    Hello{{ " "+info.role }}!<br/>
    {{ info.resource_name }} from {{ info.course }} on {{ info.lms }} has no experiment assigned yet.
  </p>
  <fieldset>
    <legend>1. Choose the experiment you would like to request access to.</legend>
    
    <form action=''>
      {% for remotes in info.rlms %}
      <fieldset style='border:none'>
        <legend>{{ remotes }}</legend>
        <table><tbody>
            {% for exp in info.rlms[remotes] %}
            <tr><input type="radio" name="experiment" value={{exp}}>{{ exp }}</tr>
            {% endfor %}
        </tbody></table>
      </fieldset>
      {% endfor %}
    </form>
  </fieldset>
  
  <fieldset>
    <legend>2. Message the Labmanager administrator (Optional)</legend>
    <p><textarea rows='5' cols='50'></textarea></p>
  </fieldset>
  
  <fieldset>
    <legend>3. Request Access</legend>
    {{ info.course_id}} -> {{ info.course }}<br/>
    {{ info.lms }}<br/>
    {{ info.resource_id }} -> {{ info.resource_name }}<br/>
    <a href=''>Submit Request</a>
  </fieldset>
</div>
